<div class="row">
  {{#foreach posts}}
    {{#if featured}}
      {{#if image}}
        <div class="col-md-12 post-loop" style="background-image: {{image}}">
      {{else}}
        <div class="col-md-12 post-loop">
      {{/if}}
        <div class="post-loop-inner">
          <div class="row">
            <div class="col-md-12">
              <h2><a href="{{url}}">{{title}}</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{content}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{author}}
              {{tags prefix=" on "}}
              <time class="post-date" datetime="{{date timeago="true"}}">{{date timeago="true"}}</time>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      {{#if image}}
        <div class="col-md-4 col-sm-6 col-xs-12 post-loop" style="background-image: {{image}}">
      {{else}}
        <div class="col-md-4 col-sm-6 col-xs-12 post-loop">
      {{/if}}
        <div class="post-loop-inner">
          <div class="row">
            <div class="col-md-12">
              <h2><a href="{{url}}">{{title}}</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{excerpt words="24"}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{author}}
              {{tags prefix=" on "}}
              <time class="post-date" datetime="{{date timeago="true"}}">{{date timeago="true"}}</time>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/foreach}}
</div>
