{{!< default}}

<div class="row">
  <div class="col-md-12">
    {{#if cover}}
      <div class="page-header" style="background-image: url('{{cover absolute="true"}}')">
    {{else}}
      <div class="page-header">
    {{/if}}
        <div class="page-header-inner">
          <h1>{{@blog.title}} <small>{{@blog.description}}</small></h1>
        </div>
        {{#if @blog.cover}}
          {{blog-header-bg @blog.cover}}
        {{/if}}
      </div>
  </div>
</div>

{{> "loop"}}

{{pagination}}
