{{!< default}}

{{#post}}
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      {{author}}
      {{tags prefix=" on "}}
      <time class="post-date" datetime="{{date timeago="true"}}">{{date timeago="true"}}</time>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{content}}
    </div>
  </div>
{{/post}}
