{{!< default}}

{{#post}}
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" id="blog-header">
        <h1>{{title}}</h1>
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date timeago="true"}}">{{date timeago="true"}}</time>
        {{#if image}}
          {{blog-header-bg image}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{content}}
    </div>
  </div>
{{/post}}
