{{!< default}}

{{#post}}
  <div class="row">
    <div class="col-md-12">
      {{#if cover}}
        <div class="page-header" style="background-image: url('{{image absolute="true"}}')">
      {{else}}
        <div class="page-header">
      {{/if}}
        <div class="page-header-inner">
          <h1>{{title}}</h1>
          {{author}}
          {{tags prefix=" on "}}
          <time class="post-date" datetime="{{date timeago="true"}}">{{date timeago="true"}}</time>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="post-loop-inner">
        {{content}}
      </div>
    </div>
  </div>
{{/post}}
